* {
    margin: 0; 
    padding: 0; 
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    height: 100vh;
    background:linear-gradient(90deg, white,gray);
}
 .toDoList{
    height: 70vh;
    width: 70vh;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-style: solid;
    border-color: brown;
    margin-top: 10vh;
 }

 .header{
     height: 5vh;
     border-style: dotted;
     border-color: green;
     margin-top: 1vh;
 }

 h1 {
     text-align: center;
     padding-top: 10px;
 }

 .input-area {
    border-style: dotted;
    border-color: blue;
    height: 5rem;
 }

 .input-area input {
    width: 350px;
    border: 1px lightcyan solid;
    padding: 5px 5px 5px 25px;
    top: 0;
    left: 0;
    margin-top: 25px;
    margin-left: 12.5rem;
 }

 input:hover {
    box-shadow: 1px 1px 8px #888888;
    
 }

 .input-area button {
    border-radius: 5px;
    height: 30px;
    width: 10%;
    background-color: lightseagreen;
    color: white;
 }

 .input-area button:hover {
   box-shadow: 1px 1px 8px #888888;
 }

 .toDoItems{
    border-style: dotted;
    border-color:purple;
    height: 60vh;
 }

 .fullList {
    height: 29vh;
    border-style: dashed;
    border-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
 }

.fullList li{
   border: solid lightseagreen;
   align-self: stretch;
   text-align: center;
}

 .complete{
    height: 29vh;
    border-style: dashed;
    border-color:yellow;
 }

